.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quantityContainer {
  display: flex;
  max-width: 100%;
  gap: 5px;
}

.quantityContainer button {
  background-color: hsl(180, 25%, 25%);
  transition: background-color 0.25s;
  color: white;
}

.quantityContainer button:hover {
  background-color: hsl(180, 25%, 35%);;
}

.quantityContainer input {
  min-width: 0;
  text-align: center;
}

.image {
  height: 150px;
}

.title, .price {
  flex: 1;
}

.addToCart {
  background-color: hsl(220, 5%, 88%);
  transition: background-color 0.25s;
  color: #000;
}

.addToCart:hover {
  background-color: hsl(220, 5%, 78%);
}

.addToCart:active {
  background-color: hsl(220, 5%, 68%);
}